<article class="featuredContent">
    <div class="ui three column stackable page grid" style="padding: 0; margin: 0 auto;">
        <div class="center aligned column">
            {{! latestRelease }}
            {{> latestRelease}}
        </div>
        <div class="center aligned column">
        {{! from the store }}
        {{> fromStore}}
        </div>
        <div class="center aligned column">
            <h1 class="ui inverted header">Connect with Play Me</h1>
            <img alt="Cyber Eye Front" class="ui centered medium image" src="http://www.playmeofficial.com/wp-content/uploads/2013/07/Cyber-Eye-Front-625x626.jpg" >
        </div>
    </div>
</article>