<article class="featuredContent">
    <div class="ui three column page grid" style="max-width: 60rem; padding: 0; margin: 0 auto;">
        <div class="center aligned column">
            {{! latestRelease }}
            {{> latestRelease}}
        </div>
        <div class="center aligned column">
        </div>
        <div class="center aligned column">
        </div>
    </div>
</article>