<div class="ui eight column grid">
    <div class="column">
        <a href="http://www.beatport.com/label/play-me-records/13208" target="_blank">
            <img alt="beatport" class="ui small image" src="http://www.playmeofficial.com/wp-content/plugins/bd-music-network/images/beatport.png" />
        </a>
    </div>
    <div class="column">
        <a href="http://www.facebook.com/PlayMeRecords" target="_blank">
        <img alt="facebook" class="ui small image" src="http://www.playmeofficial.com/wp-content/plugins/bd-music-network/images/facebook.png" />
        </a> 
    </div>
    <div class="column">
        <a href="https://itunes.apple.com/us/artist/kairo-kingdom/id513462043" target="_blank">
        <img alt="itunes" class="ui small image" src="http://www.playmeofficial.com/wp-content/plugins/bd-music-network/images/itunes.png" />
        </a> 
    </div>
    <div class="column">
        <a href="https://soundcloud.com/playmerecords" target="_blank">
        <img alt="soundcloud" class="ui small image" src="http://www.playmeofficial.com/wp-content/plugins/bd-music-network/images/soundcloud.png">
        </a> 
    </div>
    <div class="column">
        <a href="http://open.spotify.com/user/playmerecords/playlist/5s8nNF4kwm5KVqdFjlvKxd" target="_blank">
        <img alt="spotify" class="ui small image" src="http://www.playmeofficial.com/wp-content/plugins/bd-music-network/images/spotify.png" />
        </a> 
    </div>
    <div class="column">
        <a href="http://twitter.com/playmerecords" target="_blank">
        <img alt="twitter" class="ui small image" src="http://www.playmeofficial.com/wp-content/plugins/bd-music-network/images/twitter.png" />
        </a> 
    </div>
    <div class="column">
        <a class="fancybox-vimeo" href="http://vimeo.com/playmerecords" target="_blank">
        <img alt="vimeo" class="ui small image" src="http://www.playmeofficial.com/wp-content/plugins/bd-music-network/images/vimeo.png" />
        </a>
    </div>
    <div class="column">
        <a href="http://www.youtube.com/user/playmerecords" target="_blank">
        <img alt="youtube" class="ui small image" src="http://www.playmeofficial.com/wp-content/plugins/bd-music-network/images/youtube.png">
        </a>
    </div>
</div>