<style>
    
</style>

<div class="ui container">
    <img class="ui centered medium image" src="media/audish_horiz.png" />
    <h1 class="ui center aligned header">
        Log In
    </h1>

    <div class="ui form">
        <div class="required field email {{emailWarn ? 'error' : ''}}">
            <div class="ui left icon input">
                <input type="text" placeholder="email" type="email" value="{{userEmail}}" autocomplete="email">
                <i class="user icon"></i>
            </div>
        </div>
        <div class="required field password {{passwordWarn ? 'error' : ''}}">
            <div class="ui left icon input">
                <input type="password" placeholder="password" type="password" on-enter="signin" value="{{userPass}}" autocomplete="password">
                <i class="lock icon"></i>
            </div>
        </div>
        <div class="ui fluid button" on-tap="signin">sign in</div>
    </div>
    <h4 class="ui header">Or <a on-tap="goToSignUp">Sign Up</a> </h4>
</div>


<script>
component.exports = {
    data: function() {
        return {}
    },
    onteardown: function() {
       
    },
    oninit: function() {
        var self = this;
        
        this.on('goToSignUp', function(e) {
            self.root.set('scene', 'signup')
        })

        this.on('signin', function(e) {
            console.log(e)

            var req = {
                email: e.context.userEmail,
                password: e.context.userPass
            }

            // self.root.api.post('/checkUser', req, function(res) {
            //     console.log(res)
            //     localStorage.setItem('loginToken', res.userID)
            //     self.root.set({
            //         'loginToken': res.userID,
            //         'scene': 'timeline'
            //     })
            // })

            firebase.auth().signInWithEmailAndPassword(e.context.userEmail, e.context.userPass).catch(function(error) {
              // Handle Errors here.
              var errorCode = error.code;
              var errorMessage = error.message;
              // ...
              console.log(errorCode, errorMessage)
            });
        })
    }
}

</script>